---
import DrinkMixer from '../components/drink-mixer.svelte';
import Glass from '../components/glass.svelte';
import DefaultLayout from '../layouts/default-layout.astro';
---

<DefaultLayout>
  <div class="">
    <DrinkMixer client:load />
  </div>
</DefaultLayout>
