---
import Glass from '../components/glass.svelte';
import DefaultLayout from '../layouts/default-layout.astro';
---

<DefaultLayout>
  <div class="">
    <Glass client:load />
  </div>
</DefaultLayout>
