---
import Header from '../components/header.svelte';
import ToasterWrapper from '../components/toaster-wrapper.svelte';
---

<html lang="en" data-theme="night">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <div class="max-w">
      <slot />
    </div>

    <ToasterWrapper client:idle />
  </body>
</html>

<style lang="scss">
  body {
    @apply grid min-h-screen gap-8;
    grid-template-rows: auto minmax(0, 1fr);
  }
</style>

<style lang="scss" is:global>
  .max-w {
    @apply max-w-7xl mx-auto px-8 xl:px-0 w-full;
  }
</style>
