Config(
    pins: [
        (
            name: "Pin 18",
            pin: 18,
            pwm: true,
            pin_type: "output"
        ),
        (
            name: "Pin 17",
            pin: 17,
            pwm: false,
            pin_type: "input"
        ),
    ]
)