Config(
    dispensers: [
        Dispenser (
            name: "Servo",
            position: 0,
            pin: 23,
        ),
        Dispenser (
            name: "Vodka",
            position: 1,
            pin: 24, 
        ),
        Dispenser (
            name: "Rum",
            position: 2,
            pin: 25,
        ),
        Dispenser (
            name: "Cola",
            position: 3,
            pin: 26,
        ),
    ]
)